In [1]:
import requests,json,getpass
from config import *
from utils import *
import pandas as pd
import numpy as np
import time

## API documentation: https://www.robotevents.com/api/v2

In [2]:
# 3/7-8 Maryland HS Championship
event_id = get_events_by_sku('RE-V5RC-24-8881')[0]['id']
df_teams=pd.DataFrame(get_teams_by_event_id(str(event_id)))

{'meta': {'current_page': 1, 'first_page_url': 'https://www.robotevents.com/api/v2/events?page=1', 'from': 1, 'last_page': 1, 'last_page_url': 'https://www.robotevents.com/api/v2/events?page=1', 'next_page_url': None, 'path': 'https://www.robotevents.com/api/v2/events', 'per_page': 25, 'prev_page_url': None, 'to': 1, 'total': 1}, 'data': [{'id': 58881, 'sku': 'RE-V5RC-24-8881', 'name': '2024-2025 MD High School V5RC State Championship: High Stakes', 'start': '2025-03-07T00:00:00-05:00', 'end': '2025-03-08T00:00:00-05:00', 'season': {'id': 190, 'name': 'VEX V5 Robotics Competition 2024-2025: High Stakes', 'code': None}, 'program': {'id': 1, 'name': 'VEX V5 Robotics Competition', 'code': 'V5RC'}, 'location': {'venue': 'Dundalk High School', 'address_1': '1901 Delvale Avenue', 'address_2': None, 'city': 'Baltimore', 'region': 'Maryland', 'postcode': '21222', 'country': 'United States', 'coordinates': {'lat': 39.266843, 'lon': -76.516431}}, 'locations': {'2025-03-07': {'venue': 'Dundalk High School', 'address_1': '1901 Delvale Avenue', 'address_2': None, 'city': 'Baltimore', 'region': 'Maryland', 'postcode': '21222', 'country': 'United States', 'coordinates': {'lat': 39.266843, 'lon': -76.516431}}}, 'divisions': [{'id': 1, 'name': 'Default', 'order': 1}], 'level': 'Regional', 'ongoing': False, 'awards_finalized': False, 'event_type': None}]}

In [9]:
season = str(input('Which seanson are you querying (2024-2025 VR5 use 190): '))

# get all the participating team, and their best skill results in current season
# this is a long iterration, may encounter API error, it's advised to save the output in a file, so you don't need to rerun next time
# a sleep function is added in each loop to avoid API timeout
df_team_results = df_teams.copy(True)
df_team_results['awards']=''
df_team_results['driver_skill']=''
df_team_results['programming_skill']=''
df_team_results['total_skill']=''
df_team_results['matches_this_season']=''
                
for k,row in df_team_results.iterrows():
        time.sleep(5)            # let the server take a break
        awards = get_awards_by_team(str(row['id']))
        df_team_results.at[k,'awards'] = '\n'.join(format_awards(awards))
        list_driver_skill= get_skill_by_team(str(row['id']),'driver',season)
        driver_skill = format_skill(list_driver_skill)
        df_team_results.at[k,'driver_skill'] = driver_skill
        list_programming_skill= get_skill_by_team(str(row['id']),'programming',season)
        programming_skill = format_skill(list_programming_skill)
        df_team_results.at[k,'programming_skill'] = programming_skill
        df_team_results.at[k,'total_skill'] =int(driver_skill)+int(programming_skill)

        
df_team_results.to_excel('2025_VEX_Maryland_HighSchool_Championship_Teams.xlsx')        
df_team_results

Which seanson are you querying (2024-2025 VR5 use 190): 190

,id,number,team_name,robot_name,organization,location,registered,program,grade,awards,driver_skill,programming_skill,total_skill,matches_this_season
0,38362,24Z,Super Sonic Sparks Z,Super Sonic Sparks Z,Sparks 4-H Robotics,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Excellence Award (VRC/VEXU/VAIRC) 25807C...,44,23,67,
1,37816,53A,Area 53 Alien Raiders,,Greenbelt Robotics Team,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 26...,38,13,51,
2,50002,53B,Area 53 Alien Raiders,,Greenbelt Robotics Team,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 29...,36,5,41,
3,50003,53C,Area 53 Chronos,,Greenbelt Robotics Team,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 29...,40,13,53,
4,50004,53D,Area 53 Alien Raiders,,Greenbelt Robotics Team,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 28...,40,13,53,
5,50005,53E,Area 53 Alien Raiders,,Greenbelt Robotics Team,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 40...,39,15,54,
6,50006,53F,Area 53 Alien Raiders,53F,Eleanor Roosevelt High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 52...,36,13,49,
7,74161,593C,Oakdale C Team,,OAKDALE HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 5...,36,3,39,
8,139442,676D,SMRC Lucky Duckies,Sterald,Southern Maryland Robotics Club,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 4...,40,15,55,
9,157254,676V,SMRC Marauders,Spork,Southern Maryland Robotics Club,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 54...,34,14,48,
10,5181,898A,Kaizen,,Thomas Stone High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Create Award (VRC/VEXU/VAIRC) 28726South...,27,6,33,
11,51802,929N,RagingBulls,Look-At-Me-Now,Hereford High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Semifinalists (VRC/VEXU/VAIRC) ...,42,21,63,
12,40231,929S,929Sniper,ScrapBot,HEREFORD HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 33...,47,42,89,
13,40234,929T,929Tortugas,Dinky,HEREFORD HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Sportsmanship Award (VRC/VEXU/VAIRC) 336...,33,18,51,
14,26011,929V,Hereford Zone Robotics Vengeance,Vengeance,Hereford High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 25...,35,12,47,
15,26005,929X,929eXcaliper,Half-Pint,HEREFORD HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 25...,33,13,46,
16,35836,934A,Team 934A,Spacey,TOWSON HIGH LAW & PUBLIC POLICY,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 57...,32,8,40,
17,47080,934Z,Towson Terminators,Zeb,TOWSON HIGH LAW & PUBLIC POLICY,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 29...,37,18,55,
18,179453,960Y,Perry Hall High School,Gators,Perry Hall High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,34,11,45,
19,163080,960Z,Perry Hall High School,Z,Perry Hall High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,23,12,35,
20,169980,1658T,Tailwind,,AOE Robotics Club,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Innovate Award (VRC/VEXU/VAIRC) 57202Dul...,42,19,61,
21,4546,1727A,REX,REX,Dulaney High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 26...,25,3,28,
22,157736,1727K,REX,,Dulaney High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 51...,52,20,72,
23,157735,1727R,REX,,Dulaney High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 53...,0,0,0,
24,176068,1727V,REX,,Dulaney High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,26,13,39,
25,42892,1727X,REX,REX,DULANEY HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Excellence Award (VRC/VEXU/VAIRC) 26116B...,27,13,40,
26,133690,1727Y,REX,,Dulaney High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 5...,35,17,52,
27,131923,1893A,Baltimore Polytechnic Institute,High Tech Parrot,BALTIMORE POLYTECHNIC INSTITUTE,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 44...,31,9,40,
28,34204,5525A,Panthers,PAXNATION,Patuxent High School,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 25...,29,9,38,
29,147742,5588B,Calvert Hall Cardinals,Vex,CALVERT HALL COLLEGE HIGH SCHOOL,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,36,4,40,
30,54441,5588E,Calvert Hall Cardinals,Calvert,CALVERT HALL COLLEGE HIGH SCHOOL,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Excellence Award (VRC/VEXU/VAIRC) 26077B...,33,17,50,
31,35872,5588H,Calvert Hall Cardinals,St. John Baptiste,CALVERT HALL COLLEGE HIGH SCHOOL,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 28...,28,8,36,
32,36238,5839B,Eastern Tech Team B,Tech B,EASTERN TECHNICAL HIGH SCHOOL,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 26...,38,6,44,
33,36055,5977A,Warriors,Samuel,LA PLATA HIGH SCHOOL,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 25...,28,0,28,
34,59274,7135E,Loyola Robotics-E,,Loyola Blakefield,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 28...,27,3,30,
35,75767,7135F,Loyola Robotics-F,,LOYOLA BLAKEFIELD,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 37...,27,0,27,
36,148967,7135R,Loyola Robotics-R,,Loyola Blakefield,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,30,15,45,
37,128429,7135Z,Loyola Robotics - Z,Loyola Robotics,Loyola Blakefield,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 45...,30,0,30,
38,75820,9080C,Sleeping Dragon,Rebel Robotics 9080C,SOUTH HAGERSTOWN HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Champions (VRC/VEXU/VAIRC) 30...,44,19,63,
39,69062,9080R,Rebel Crusaders,Rebel Robotics 9080R,SOUTH HAGERSTOWN HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Tournament Finalists (VRC/VEXU/VAIRC) 29...,25,0,25,
40,53633,9080S,Rebellious Misfits,Rebel Robotics 9080S,SOUTH HAGERSTOWN HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Excellence Award (VRC/VEXU/VAIRC) 26616V...,43,11,54,
41,149186,12699A,Agility Network Robotics - Mantis,Mantis,The Agility Network,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Design Award (VRC/VEXU/VAIRC) 51109SHHS ...,33,8,41,
42,154569,20096G,Guardians,GUARD,Guardians Robotics,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Excellence Award (VRC/VEXU/VAIRC) 54401A...,57,41,98,
43,140974,21078A,Gears & Spears,,HAVRE DE GRACE HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 4...,32,8,40,
44,161857,21078B,Gears & Spears,,HAVRE DE GRACE HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,29,13,42,
45,131742,21217A,H.U.H.,It's coming,"STEM Center of Excellence, Inc.","{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 4...,23,0,23,
46,169933,23382H,Fifth Dimension,,Weestar,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 5...,46,36,82,
47,106645,26648B,Broadneck Robotics Club,Steve,BROADNECK HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,21,10,31,
48,179267,26648X,Broadneck Robotics Club,X-Caliber,BROADNECK HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,33,9,42,
49,119074,66852A,Dreamers,Skyline,Maryland School f/t Deaf,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Think Award (VRC/VEXU/VAIRC) 497945th NR...,27,8,35,
50,174464,68186A,Airheads,None,AOE Robotics Club,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Design Award (VRC/VEXU/VAIRC) 56513AOE R...,40,25,65,
51,166813,76763A,Cyber Knights,None,NORTH COUNTY HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 5...,42,22,64,
52,168097,76763B,Cyber Knights,None,NORTH COUNTY HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Sportsmanship Award (VRC/VEXU/VAIRC) 515...,40,8,48,
53,86164,79666A,Robo Knights,,BALTIMORE CITY COLLEGE,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 3...,31,12,43,
54,178147,93330A,Air Force Parrots,None,BALTIMORE POLYTECHNIC INSTITUTE,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,Judges Award (VRC/VEXU/VAIC/ADC/VAIRC) 5...,33,5,38,
55,79129,96807A,BHS1,Behemoth,BOONSBORO HIGH,"{'venue': None, 'address_1': '', 'address_2': ...",True,"{'id': 1, 'name': 'VEX V5 Robotics Competition...",High School,,24,13,37,

In [3]:
# optional, use only if you want to load previously saved results
df_team_results = pd.read_excel('2025_VEX_Maryland_HighSchool_Championship_Teams.xlsx')

# Following code analyze individual team
We will use **Column K (award)** and **column N (total_skil)** as the two indicators of team competency. 
Game analysis will be run on those teams:
1. Have a total skill point above 60;
2. Won at least one Tournament Champion/Finalist in current season (2024-2025, 190);
3. Won at least one Excellence or Design award in current season

In [17]:
# get a list of all state events in current season
events_df=get_events_by_state_season()
event_ids = events_df[['id','sku','name','start']]
event_ids

,id,sku,name,start
0,57202,RE-V5RC-24-7202,Dulaney HS Robotics High Stakes V5RC Tournamen...,2024-10-19T00:00:00-04:00
1,56513,RE-V5RC-24-6513,AOE Robotics Challenge,2024-11-02T00:00:00-04:00
2,56699,RE-V5RC-24-6699,Capital Beltway Challenge: High School V5RC To...,2024-11-15T00:00:00-05:00
3,55806,RE-V5RC-24-5806,VEX (V5RC) Hereford Zone Robotics High Stakes...,2024-12-07T00:00:00-05:00
4,57965,RE-V5RC-24-7965,South Hagerstown Rebel Rumble (MS&HS) 2024,2024-12-14T00:00:00-05:00
5,59011,RE-V5RC-24-9011,"[CANCELED] Rover I270: V5RC Blended, All In-Pe...",2025-01-05T00:00:00-05:00
6,57966,RE-V5RC-24-7966,"Western MD V5RC ""High Stakes"" Valley Mall Qual...",2025-01-11T00:00:00-05:00
7,55953,RE-V5RC-24-5953,Cardinal Classic V5RC Tournament: Middle Schoo...,2025-01-18T00:00:00-05:00
8,56993,RE-V5RC-24-6993,Blakefield Robotics Challenge IV - V5RC High S...,2025-01-24T00:00:00-05:00
9,57967,RE-V5RC-24-7967,"SHHS Last Chance ""High Stakes"" Tournament (MS&...",2025-02-08T00:00:00-05:00
10,57391,RE-V5RC-24-7391,Southern Maryland VEX V5 Robotics Competition ...,2025-02-15T00:00:00-05:00
11,58881,RE-V5RC-24-8881,2024-2025 MD High School V5RC State Championsh...,2025-03-07T00:00:00-05:00

In [36]:
# 24Z
this_season =get_tournament_statistics_by_team_by_season('38362',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111349,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",32,"{'id': 38362, 'name': '24Z', 'code': None}",1,4,0,2,0,70,26,16.2,81
1,28673345,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",44,"{'id': 38362, 'name': '24Z', 'code': None}",2,4,0,4,12,102,34,24.0,144

In [4]:
# 53C
this_season =get_tournament_statistics_by_team_by_season('50003',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28671349,"{'id': 55622, 'name': 'Kalahari Classic VEX V5...","{'id': 2, 'name': 'Sahara', 'code': None}",35,"{'id': 50003, 'name': '53C', 'code': None}",5,3,0,10,36,173,35,26.75,214
1,28021229,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",4,"{'id': 50003, 'name': '53C', 'code': None}",6,0,0,13,33,99,37,29.00,174
2,26533477,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",4,"{'id': 50003, 'name': '53C', 'code': None}",5,1,0,12,24,93,39,32.50,195
3,25791342,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",4,"{'id': 50003, 'name': '53C', 'code': None}",5,1,0,10,15,67,43,27.17,163
4,24943627,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",8,"{'id': 50003, 'name': '53C', 'code': None}",4,2,0,10,21,87,37,22.33,134

In [6]:
# 53D
this_season =get_tournament_statistics_by_team_by_season('50004',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28671278,"{'id': 55622, 'name': 'Kalahari Classic VEX V5...","{'id': 1, 'name': 'Zambezi', 'code': None}",50,"{'id': 50004, 'name': '53D', 'code': None}",3,5,0,9,12,111,30,18.12,145
1,28021232,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",7,"{'id': 50004, 'name': '53D', 'code': None}",4,1,1,11,21,57,26,17.00,102
2,27525660,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",16,"{'id': 50004, 'name': '53D', 'code': None}",3,2,1,8,15,73,33,23.17,139
3,26995764,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",17,"{'id': 50004, 'name': '53D', 'code': None}",4,2,0,8,6,62,29,14.83,89
4,25791352,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",14,"{'id': 50004, 'name': '53D', 'code': None}",4,2,0,8,9,56,30,17.33,104
5,24943644,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",25,"{'id': 50004, 'name': '53D', 'code': None}",2,4,0,4,18,66,35,19.83,119

In [8]:
# 53E
this_season =get_tournament_statistics_by_team_by_season('50005',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28671378,"{'id': 55622, 'name': 'Kalahari Classic VEX V5...","{'id': 2, 'name': 'Sahara', 'code': None}",64,"{'id': 50005, 'name': '53E', 'code': None}",3,5,0,6,12,158,45,26.50,212
1,28021244,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",19,"{'id': 50005, 'name': '53E', 'code': None}",4,2,0,9,12,71,28,15.83,95
2,26533476,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 50005, 'name': '53E', 'code': None}",6,0,0,12,24,93,41,28.33,170
3,25791355,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",17,"{'id': 50005, 'name': '53E', 'code': None}",3,2,1,7,15,70,24,12.83,77
4,24943621,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",2,"{'id': 50005, 'name': '53E', 'code': None}",6,0,0,14,24,105,33,25.17,151

In [9]:
# 53F
this_season =get_tournament_statistics_by_team_by_season('50006',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111321,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",4,"{'id': 50006, 'name': '53F', 'code': None}",5,0,0,10,24,47,45,37.20,186
1,28021246,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",21,"{'id': 50006, 'name': '53F', 'code': None}",4,2,0,8,21,66,36,26.17,157
2,27525646,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",2,"{'id': 50006, 'name': '53F', 'code': None}",6,0,0,12,21,56,47,27.50,165
3,26995755,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",8,"{'id': 50006, 'name': '53F', 'code': None}",5,1,0,10,27,67,30,25.17,151
4,26533479,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",6,"{'id': 50006, 'name': '53F', 'code': None}",5,1,0,11,24,81,32,24.50,147
5,25791341,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 50006, 'name': '53F', 'code': None}",5,1,0,10,24,58,41,25.33,152
6,25256028,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",5,"{'id': 50006, 'name': '53F', 'code': None}",5,1,0,11,12,68,29,17.50,105
7,24943642,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",23,"{'id': 50006, 'name': '53F', 'code': None}",3,3,0,6,6,80,28,17.33,104

In [10]:
# 676D
this_season =get_tournament_statistics_by_team_by_season('139442',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111320,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 139442, 'name': '676D', 'code': None}",5,0,0,10,24,58,38,33.00,165
1,29720133,"{'id': 57967, 'name': 'SHHS Last Chance ""High ...","{'id': 1, 'name': 'Division 1', 'code': None}",5,"{'id': 139442, 'name': '676D', 'code': None}",5,1,0,10,15,51,37,21.67,130
2,28021237,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",12,"{'id': 139442, 'name': '676D', 'code': None}",5,1,0,10,21,104,32,23.67,142
3,25256030,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",7,"{'id': 139442, 'name': '676D', 'code': None}",4,2,0,9,12,67,36,25.33,152

In [11]:
# 676V
this_season =get_tournament_statistics_by_team_by_season('157254',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111327,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",10,"{'id': 157254, 'name': '676V', 'code': None}",4,1,0,8,18,40,38,27.00,135
1,28021250,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",25,"{'id': 157254, 'name': '676V', 'code': None}",3,3,0,7,18,78,30,19.00,114
2,25256040,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",17,"{'id': 157254, 'name': '676V', 'code': None}",2,4,0,4,9,71,25,15.67,94

In [18]:
# 929N
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('51802',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28673311,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",10,"{'id': 51802, 'name': '929N', 'code': None}",5,1,0,10,24,53,34,25.00,150
1,28021227,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",2,"{'id': 51802, 'name': '929N', 'code': None}",6,0,0,14,27,72,34,26.83,161
2,27294379,"{'id': 55556, 'name': 'Sugar Rush VEX V5 Robot...","{'id': 2, 'name': 'Treats Division', 'code': N...",33,"{'id': 51802, 'name': '929N', 'code': None}",5,5,0,11,27,208,43,24.50,245
3,26533485,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",12,"{'id': 51802, 'name': '929N', 'code': None}",3,3,0,9,24,83,39,23.00,138
4,26042896,"{'id': 55636, 'name': 'Speedway High Stakes VE...","{'id': 1, 'name': 'Dallara', 'code': None}",57,"{'id': 51802, 'name': '929N', 'code': None}",4,3,1,9,12,174,39,24.25,194
5,24943633,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",14,"{'id': 51802, 'name': '929N', 'code': None}",3,3,0,7,24,93,30,18.00,108

In [19]:
# 929S
this_season =get_tournament_statistics_by_team_by_season('40231',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28673319,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",18,"{'id': 40231, 'name': '929S', 'code': None}",4,2,0,9,12,58,39,23.50,141
1,28021231,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",6,"{'id': 40231, 'name': '929S', 'code': None}",5,1,0,11,36,82,39,31.50,189
2,27525652,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",8,"{'id': 40231, 'name': '929S', 'code': None}",4,2,0,9,33,55,35,24.50,147
3,27294414,"{'id': 55556, 'name': 'Sugar Rush VEX V5 Robot...","{'id': 1, 'name': 'Sweets Division', 'code': N...",9,"{'id': 40231, 'name': '929S', 'code': None}",8,2,0,18,30,191,50,33.40,334
4,26533489,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",16,"{'id': 40231, 'name': '929S', 'code': None}",3,3,0,8,24,66,20,15.67,94
5,24943634,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",15,"{'id': 40231, 'name': '929S', 'code': None}",3,3,0,7,21,53,23,13.83,83

In [20]:
# 929T
this_season =get_tournament_statistics_by_team_by_season('40234',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,31128630,"{'id': 55679, 'name': '[NEW DATE] Enginotic 6 ...","{'id': 1, 'name': 'Division 1', 'code': None}",4,"{'id': 40234, 'name': '929T', 'code': None}",2,0,0,4,12,45,36,34.50,69
1,28021274,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",49,"{'id': 40234, 'name': '929T', 'code': None}",1,4,1,3,12,59,20,12.33,74
2,27525681,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",37,"{'id': 40234, 'name': '929T', 'code': None}",1,4,1,4,9,62,22,11.00,66
3,27294375,"{'id': 55556, 'name': 'Sugar Rush VEX V5 Robot...","{'id': 2, 'name': 'Treats Division', 'code': N...",29,"{'id': 40234, 'name': '929T', 'code': None}",6,4,0,12,21,165,38,25.00,250
4,26995750,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 40234, 'name': '929T', 'code': None}",6,0,0,12,18,60,23,18.00,108
5,26533498,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",25,"{'id': 40234, 'name': '929T', 'code': None}",3,3,0,7,18,42,40,17.50,105
6,24943639,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",20,"{'id': 40234, 'name': '929T', 'code': None}",3,3,0,6,15,52,28,11.33,68

In [21]:
# 929V
this_season =get_tournament_statistics_by_team_by_season('26011',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29720131,"{'id': 57967, 'name': 'SHHS Last Chance ""High ...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 26011, 'name': '929V', 'code': None}",6,0,0,14,21,49,31,24.50,147
1,28673334,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",33,"{'id': 26011, 'name': '929V', 'code': None}",2,4,0,6,12,74,22,15.33,92
2,28021267,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",42,"{'id': 26011, 'name': '929V', 'code': None}",2,4,0,4,12,93,39,19.33,116
3,26995759,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",12,"{'id': 26011, 'name': '929V', 'code': None}",4,2,0,8,24,71,37,25.50,153
4,26533475,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",2,"{'id': 26011, 'name': '929V', 'code': None}",4,2,0,12,27,58,40,28.00,168
5,25791353,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",15,"{'id': 26011, 'name': '929V', 'code': None}",3,3,0,7,30,48,20,15.00,90
6,24943626,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",7,"{'id': 26011, 'name': '929V', 'code': None}",5,1,0,10,30,90,27,21.33,128

In [22]:
# 934A
this_season =get_tournament_statistics_by_team_by_season('35836',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111323,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",6,"{'id': 35836, 'name': '934A', 'code': None}",5,0,0,10,18,36,41,24.00,120
1,28673336,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",35,"{'id': 35836, 'name': '934A', 'code': None}",3,3,0,6,9,56,22,14.67,88
2,28021261,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",36,"{'id': 35836, 'name': '934A', 'code': None}",3,3,0,6,9,37,30,13.83,83

In [23]:
# 934Z
this_season =get_tournament_statistics_by_team_by_season('47080',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28673320,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",19,"{'id': 47080, 'name': '934Z', 'code': None}",4,2,0,8,27,62,32,20.17,121
1,28021247,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",22,"{'id': 47080, 'name': '934Z', 'code': None}",3,3,0,8,18,83,50,25.33,152
2,27525651,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",7,"{'id': 47080, 'name': '934Z', 'code': None}",5,1,0,11,21,53,47,29.00,174
3,26995760,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",13,"{'id': 47080, 'name': '934Z', 'code': None}",4,2,0,8,24,66,33,20.17,121
4,26533491,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",18,"{'id': 47080, 'name': '934Z', 'code': None}",4,2,0,8,21,64,41,20.33,122
5,25256027,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",4,"{'id': 47080, 'name': '934Z', 'code': None}",5,1,0,11,24,36,30,20.00,120
6,24943650,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",31,"{'id': 47080, 'name': '934Z', 'code': None}",1,5,0,2,9,74,28,13.33,80

In [24]:
# 1658T
this_season =get_tournament_statistics_by_team_by_season('169980',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,31129969,"{'id': 55679, 'name': '[NEW DATE] Enginotic 6 ...","{'id': 1, 'name': 'Division 1', 'code': None}",33,"{'id': 169980, 'name': '1658T', 'code': None}",1,2,0,2,3,49,27,17.00,51
1,29217244,"{'id': 55509, 'name': 'Gateway to the West VEX...","{'id': 1, 'name': 'High School', 'code': None}",75,"{'id': 169980, 'name': '1658T', 'code': None}",1,9,0,2,12,155,27,16.40,164
2,26995752,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",5,"{'id': 169980, 'name': '1658T', 'code': None}",5,1,0,10,33,67,37,26.17,157
3,26533482,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",9,"{'id': 169980, 'name': '1658T', 'code': None}",5,1,0,10,27,43,33,21.17,127
4,25791339,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",1,"{'id': 169980, 'name': '1658T', 'code': None}",6,0,0,12,30,68,41,29.67,178
5,25256033,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",10,"{'id': 169980, 'name': '1658T', 'code': None}",3,3,0,7,18,59,30,16.67,100
6,24943620,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",1,"{'id': 169980, 'name': '1658T', 'code': None}",6,0,0,15,27,86,37,26.17,157
7,24664304,"{'id': 55657, 'name': 'The Highlander Summit V...","{'id': 1, 'name': 'Division 1', 'code': None}",42,"{'id': 169980, 'name': '1658T', 'code': None}",4,4,0,8,24,108,41,22.12,177

In [25]:
# 1727K
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('157736',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28021228,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",3,"{'id': 157736, 'name': '1727K', 'code': None}",5,1,0,14,24,66,50,30.33,182
1,27525645,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",1,"{'id': 157736, 'name': '1727K', 'code': None}",6,0,0,12,33,69,39,31.17,187
2,26995753,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",6,"{'id': 157736, 'name': '1727K', 'code': None}",5,1,0,10,33,23,42,28.00,168
3,26533488,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",15,"{'id': 157736, 'name': '1727K', 'code': None}",4,2,0,8,30,71,43,25.50,153
4,24943628,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",9,"{'id': 157736, 'name': '1727K', 'code': None}",4,2,0,10,21,41,39,22.33,134

In [26]:
# 1727R
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('157735',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,28673304,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",3,"{'id': 157735, 'name': '1727R', 'code': None}",5,1,0,12,30,18,36,25.67,154
1,28021239,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",14,"{'id': 157735, 'name': '1727R', 'code': None}",5,1,0,10,18,88,42,32.17,193
2,27525653,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",9,"{'id': 157735, 'name': '1727R', 'code': None}",4,2,0,9,24,82,42,28.17,169
3,26533493,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",20,"{'id': 157735, 'name': '1727R', 'code': None}",4,2,0,8,18,112,43,28.17,169
4,24943645,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",26,"{'id': 157735, 'name': '1727R', 'code': None}",2,4,0,4,15,65,29,12.67,76

In [27]:
# 7135F
this_season =get_tournament_statistics_by_team_by_season('75767',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,26995757,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",10,"{'id': 75767, 'name': '7135F', 'code': None}",4,2,0,9,12,73,49,24.17,145
1,26533478,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",5,"{'id': 75767, 'name': '7135F', 'code': None}",5,1,0,11,27,89,31,25.83,155
2,25791366,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",28,"{'id': 75767, 'name': '7135F', 'code': None}",2,4,0,4,12,42,32,14.00,84

In [28]:
# 9080C
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('75820',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29720134,"{'id': 57967, 'name': 'SHHS Last Chance ""High ...","{'id': 1, 'name': 'Division 1', 'code': None}",6,"{'id': 75820, 'name': '9080C', 'code': None}",5,1,0,10,12,51,47,31.83,191
1,28021234,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",9,"{'id': 75820, 'name': '9080C', 'code': None}",5,1,0,10,30,63,41,30.00,180
2,27525664,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",20,"{'id': 75820, 'name': '9080C', 'code': None}",4,2,0,8,9,54,46,24.00,144
3,26533518,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",45,"{'id': 75820, 'name': '9080C', 'code': None}",1,5,0,2,6,68,20,11.33,68
4,25791343,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",5,"{'id': 75820, 'name': '9080C', 'code': None}",4,1,1,9,24,83,37,20.00,120
5,24943623,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",4,"{'id': 75820, 'name': '9080C', 'code': None}",5,1,0,12,27,39,33,22.67,136

In [29]:
# 9080R
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('69062',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29720148,"{'id': 57967, 'name': 'SHHS Last Chance ""High ...","{'id': 1, 'name': 'Division 1', 'code': None}",20,"{'id': 69062, 'name': '9080R', 'code': None}",3,3,0,6,15,101,29,21.50,129
1,28021251,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",26,"{'id': 69062, 'name': '9080R', 'code': None}",3,3,0,7,18,59,37,18.67,112
2,27525655,"{'id': 57966, 'name': 'Western MD V5RC ""High S...","{'id': 1, 'name': 'Division 1', 'code': None}",11,"{'id': 69062, 'name': '9080R', 'code': None}",4,2,0,8,21,50,35,16.33,98
3,26995781,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",34,"{'id': 69062, 'name': '9080R', 'code': None}",1,5,0,2,9,73,19,12.83,77
4,26533500,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",27,"{'id': 69062, 'name': '9080R', 'code': None}",3,3,0,6,18,49,29,13.00,78
5,25791357,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",19,"{'id': 69062, 'name': '9080R', 'code': None}",3,3,0,6,15,52,21,12.67,76

In [30]:
# 20096G
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('154569',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,31131762,"{'id': 55679, 'name': '[NEW DATE] Enginotic 6 ...","{'id': 1, 'name': 'Division 1', 'code': None}",20,"{'id': 154569, 'name': '20096G', 'code': None}",2,1,0,4,6,63,41,31.67,95
1,29217185,"{'id': 55509, 'name': 'Gateway to the West VEX...","{'id': 1, 'name': 'High School', 'code': None}",16,"{'id': 154569, 'name': '20096G', 'code': None}",6,3,1,17,33,277,42,32.70,327
2,28673302,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",1,"{'id': 154569, 'name': '20096G', 'code': None}",6,0,0,16,33,21,44,39.67,238
3,28021245,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",20,"{'id': 154569, 'name': '20096G', 'code': None}",4,2,0,8,24,128,41,28.67,172
4,27294444,"{'id': 55556, 'name': 'Sugar Rush VEX V5 Robot...","{'id': 1, 'name': 'Sweets Division', 'code': N...",39,"{'id': 154569, 'name': '20096G', 'code': None}",5,5,0,11,21,215,37,28.00,280
5,25791348,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",10,"{'id': 154569, 'name': '20096G', 'code': None}",4,2,0,8,21,86,34,25.17,151
6,24943624,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",5,"{'id': 154569, 'name': '20096G', 'code': None}",5,1,0,12,21,77,37,28.00,168

In [31]:
# 169933
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('169933',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29217186,"{'id': 55509, 'name': 'Gateway to the West VEX...","{'id': 1, 'name': 'High School', 'code': None}",17,"{'id': 169933, 'name': '23382H', 'code': None}",8,2,0,17,24,175,33,24.80,248
1,27141717,"{'id': 55856, 'name': 'V5RC Seton Christmas To...","{'id': 1, 'name': 'Division 1', 'code': None}",1,"{'id': 169933, 'name': '23382H', 'code': None}",6,0,0,14,15,62,38,27.50,165
2,25791345,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",7,"{'id': 169933, 'name': '23382H', 'code': None}",4,1,1,9,21,97,33,26.00,156
3,25256026,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",3,"{'id': 169933, 'name': '23382H', 'code': None}",5,1,0,11,24,59,36,25.17,151
4,24943635,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",16,"{'id': 169933, 'name': '23382H', 'code': None}",3,3,0,7,18,106,27,22.00,132
5,24664284,"{'id': 55657, 'name': 'The Highlander Summit V...","{'id': 1, 'name': 'Division 1', 'code': None}",22,"{'id': 169933, 'name': '23382H', 'code': None}",5,3,0,11,24,147,41,27.75,222

In [32]:
# 76763A
# Tournament Champion
this_season =get_tournament_statistics_by_team_by_season('166813',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,30111325,"{'id': 57391, 'name': 'Southern Maryland VEX V...","{'id': 1, 'name': 'Division 1', 'code': None}",8,"{'id': 166813, 'name': '76763A', 'code': None}",4,1,0,9,24,32,38,22.60,113
1,28673303,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",2,"{'id': 166813, 'name': '76763A', 'code': None}",5,1,0,13,30,100,34,26.17,157
2,26995749,"{'id': 57965, 'name': 'South Hagerstown Rebel ...","{'id': 1, 'name': 'Division 1', 'code': None}",2,"{'id': 166813, 'name': '76763A', 'code': None}",5,1,0,12,24,42,49,25.50,153
3,25791371,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",33,"{'id': 166813, 'name': '76763A', 'code': None}",1,5,0,2,3,50,19,9.17,55

In [33]:
# 93330A
this_season =get_tournament_statistics_by_team_by_season('178147',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29720143,"{'id': 57967, 'name': 'SHHS Last Chance ""High ...","{'id': 1, 'name': 'Division 1', 'code': None}",15,"{'id': 178147, 'name': '93330A', 'code': None}",4,2,0,8,12,111,33,23.33,140
1,28587892,"{'id': 57095, 'name': 'Baltimore City Public S...","{'id': 1, 'name': 'Division 1', 'code': None}",6,"{'id': 178147, 'name': '93330A', 'code': None}",7,4,2,16,39,50,19,8.08,105
2,28021269,"{'id': 55953, 'name': 'Cardinal Classic V5RC T...","{'id': 1, 'name': 'Default Division', 'code': ...",44,"{'id': 178147, 'name': '93330A', 'code': None}",2,4,0,4,12,33,26,10.17,61
3,26533515,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",42,"{'id': 178147, 'name': '93330A', 'code': None}",1,5,0,2,12,27,22,8.17,49
4,24943649,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",30,"{'id': 178147, 'name': '93330A', 'code': None}",1,5,0,2,12,95,25,18.50,111

In [35]:
# 68186A
this_season =get_tournament_statistics_by_team_by_season('174464',season='190')
this_season

,id,event,division,rank,team,wins,losses,ties,wp,ap,sp,high_score,average_points,total_points
0,29217225,"{'id': 55509, 'name': 'Gateway to the West VEX...","{'id': 1, 'name': 'High School', 'code': None}",56,"{'id': 174464, 'name': '68186A', 'code': None}",3,7,0,7,30,168,44,20.70,207
1,28673350,"{'id': 56993, 'name': 'Blakefield Robotics Cha...","{'id': 1, 'name': 'Division 1', 'code': None}",49,"{'id': 174464, 'name': '68186A', 'code': None}",1,4,1,3,15,49,19,10.67,64
2,26533487,"{'id': 55806, 'name': 'VEX (V5RC) Hereford Zo...","{'id': 1, 'name': 'Division 1', 'code': None}",14,"{'id': 174464, 'name': '68186A', 'code': None}",4,2,0,9,18,68,32,20.50,123
3,25791340,"{'id': 56699, 'name': 'Capital Beltway Challen...","{'id': 1, 'name': 'Division 1', 'code': None}",2,"{'id': 174464, 'name': '68186A', 'code': None}",5,1,0,10,30,75,34,22.33,134
4,25256031,"{'id': 56513, 'name': 'AOE Robotics Challenge'...","{'id': 1, 'name': 'AOE Robotics Challenge', 'c...",8,"{'id': 174464, 'name': '68186A', 'code': None}",4,2,0,8,18,34,36,22.00,132
5,24943629,"{'id': 57202, 'name': 'Dulaney HS Robotics Hig...","{'id': 1, 'name': 'Default Division', 'code': ...",10,"{'id': 174464, 'name': '68186A', 'code': None}",5,1,0,10,18,67,35,22.33,134